<%= form_with(model: @task, local:true) do |form| %>
<% if @task.errors.any? %>
<%= t('view.cannot_show_due_to_below') %>

<ul>
  <% @task.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<%= t('view.task') %>
<%= form.text_field :name %>

<%= t('view.content') %>
<%= form.text_field :content %>

<%= t('view.status') %>
<%= form.select :status, Task.statuses.keys.to_a, {} %>

<%= t('view.label') %>
<%= form.text_field :label %>

<%= t('view.priority') %>
<%= form.select :priority, Task.priorities.keys.to_a, {} %>

<%= t('view.cut_off_date') %>
<%= form.date_select :cut_off_date %>

<button id=create_new>
<%= form.submit t('view.register')%></button>
<% end %>

  <%= link_to t('view.back'), tasks_path %>
