<%= form_with(model: @task, local:true) do |form| %>
<% if @task.errors.any? %>
<h2>以下のエラーにより登録できません。</h2>

<ul>
  <% @task.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<%= form.label :タスク名 %>
<%= form.text_field :name %>

<%= form.label :タスク詳細 %>
<%= form.text_field :content %>

<%= form.label :status %>
<%= form.text_field :status %>

<%= form.label :label %>
<%= form.text_field :label %>

<%= form.label :priority %>
<%= form.text_field :priority %>

<%= form.label :cut_off_date %>
<%= form.text_field :cut_off_date %>


<%= form.submit value:'登録する'%>
<% end %>

<%= link_to '戻る', tasks_path %>
