<%= form_with(model: @task, local:true) do |form| %>
<% if @task.errors.any? %>
<%= t('view.cannot_show_due_to_below') %>

<ul>
  <% @task.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<%= t('view.task') %>
<%= form.text_field :name %>

<%= t('view.content') %>
<%= form.text_field :content %>

<%= t('view.status') %>
<%= form.text_field :status %>

<%= t('view.label') %>
<%= form.text_field :label %>

<%= t('view.priority') %>
<%= form.text_field :priority %>

<%= t('view.cut_off_date') %>
<%= form.date_select :cut_off_date %>


<%= form.submit t('view.register')%>
<% end %>

  <%= link_to t('view.back'), tasks_path %>
