<header>
<h1><%= t('view.schedule_index') %><h1>
  <% if flash[:notice] %>
    <h2><%= flash[:notice] %></h2>
  <% end %>
</header>



<table>
  <thead>
    <tr>
      <th><%= t('view.task') %></th>
      <th><%= t('view.content') %></th>
      <th><%= t('view.status') %></th>
      <th><%= t('view.label') %></th>
      <th><%= t('view.priority') %></th>
      <th><%= t('view.cut_off_date') %></th>
    </tr>
  </thead>

  <tbody>
  <% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.content %></td>
    <td><%= task.status %></td>
    <td><%= task.label %></td>
    <td><%= task.priority %></td>
    <td><%= task.cut_off_date %></td>


    <td>
    <%= link_to t('view.show_detail'), task_path(task.id) %>
    <%= link_to t('view.edit'), edit_task_path(task.id) %>
    <%= link_to t('view.delete'), task_path(task.id), method: :delete %>
    </td>
  </tr>
  <% end %>
</table>
<br>
<footer>
  <%= link_to t('view.create_new'), new_task_path %>
  <%= link_to t('view.sort_by_cut_off_date'), tasks_path(sort_cut_off_date: "true") %>
</footer>
