<h1><%= t('view.content') %></h1>
<br>

<strong><%= t('view.task') %></strong>
<p><%= @task.name %></p>
<strong><%= t('view.content') %></strong>
<p><%= @task.content %></p>
<strong><%= t('view.status') %></strong>
<p><%= @task.status %></p>
<strong><%= t('view.label') %></strong>
<p><%= @task.label %></p>
<strong><%= t('view.priority') %></strong>
<p><%= @task.priority %></p>
<strong><%= t('view.cut_off_date') %></strong>
<p><%= @task.cut_off_date %></p>


<%= link_to t('view.back'), tasks_path %>
