<h1><%= t('view.index_for_admin') %></h1>




  <table border="3" cellpadding="25" class = user_list>
    <thead>
      <tr bgcolor="#ccccc">
        <th><%= t('view.user_id') %></th>
        <th><%= t('view.user_name') %></th>
        <th><%= t('view.user_email') %></th>
        <th><%= t('view.number_of_task') %></th>
        <th><%= t('view.boolean') %></th>
        <th>Function</th>

      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr class = task_list>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.tasks.count  %></td>
      <td>
      <% if user.admin %>
        ☆
      <% else %>

      <% end %></td>





    <td>
      <%= link_to t('view.show_detail'), admin_user_path(user.id) %>
      <%= link_to t('view.edit'), edit_admin_user_path(user.id) %>
      <%= link_to t('view.delete'), admin_user_path(user.id), method: :delete %>

      <% end %>

    </td>
    </tr>


  </table>

  <br>

    <button type="button" div class ="create_new_user label-info">
    <%= link_to t('view.create_new_user'), new_admin_user_path %>
    </button>
